name: npm audit

on:
  pull_request:
  push:
    branches:
      - main
jobs:
  scan:
    name: npm audit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: install dependencies
        run: npm ci
      - uses: oke-py/npm-audit-action@v3
        with:
          audit_level: high
          github_token: ${{ secrets.GITHUB_TOKEN }}